/{
    /* Pinch zoom: convert driver's synthetic zoom button taps into
       Ctrl + numpad plus/minus (layout independent browser zoom).
       Note: 0x115 / 0x116 are used as raw codes because Zephyr 3.5 has no
       INPUT_BTN_FORWARD / INPUT_BTN_BACK macros. They match the values the
       driver sends (see iqs7211e_send_zoom). */
    zip_zoom_behaviors: zip_zoom_behaviors {
        compatible = "zmk,input-processor-behaviors";
        #input-processor-cells = <0>;
        type = <INPUT_EV_KEY>;
        codes = <0x115 0x116>;
        bindings = <&kp LC(KP_PLUS) &kp LC(KP_MINUS)>;
    };

    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;
        pointing_device_split: pointing_device_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };
    pointing_device_split_listener: pointing_device_split_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device_split>;
        status = "okay";
        input-processors = <
            &zip_zoom_behaviors
            &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT)
            &zip_scroll_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT)
            &zip_xy_scaler 1 2
            &zip_scroll_scaler 1 3
            &zip_scroll_snap
        >;
    };
};
