#include <dt-bindings/zmk/keys.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pointing_device_split: pointing_device_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    trackpad_transition_guard: trackpad_transition_guard {
        compatible = "zmk,input-processor-trackpad-transition";
        #input-processor-cells = <0>;
        zoom-layer = <1>;
        volume-layer = <2>;
        zoom-key-position = <56>;
        volume-key-position = <57>;
        transition-guard-ms = <100>;
        bindings = <&kp LA(LEFT_ARROW) &kp LC(N0) &kp C_MUTE>;
    };

    // Positive wheel step first, negative wheel step second.
    trackpad_zoom_scroll: trackpad_zoom_scroll {
        compatible = "zmk,input-processor-scroll-keys";
        #input-processor-cells = <0>;
        bindings = <&kp LC(EQUAL) &kp LC(MINUS)>;
    };

    trackpad_volume_scroll: trackpad_volume_scroll {
        compatible = "zmk,input-processor-scroll-keys";
        #input-processor-cells = <0>;
        bindings = <&kp C_VOLUME_UP &kp C_VOLUME_DOWN>;
    };

    trackpad_responsive_scroll: trackpad_responsive_scroll {
        compatible = "zmk,input-processor-responsive-scroll";
        #input-processor-cells = <2>;
        track-remainders;
        reset-after-ms = <150>;
    };

    pointing_device_split_listener: pointing_device_split_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device_split>;
        status = "okay";
        input-processors = <
            &trackpad_transition_guard
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
            &trackpad_responsive_scroll 1 5
        >;

        zoom {
            layers = <1>;
            input-processors = <
                &trackpad_transition_guard
                &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
                &zip_scroll_scaler 1 3
                &trackpad_zoom_scroll
            >;
        };

        volume {
            layers = <2>;
            input-processors = <
                &trackpad_transition_guard
                &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
                &zip_scroll_scaler 1 3
                &trackpad_volume_scroll
            >;
        };
    };
};
